* {

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0.1fr 2.5fr 0.1fr;
    height: 100vh;
    width: 100%;


}

/* header */
header {
    grid-column: 1/4;
    background-color: rgba(240, 236, 15, 0.978);
}

header h1 {
    text-align: center;

    padding: 10px;
}


/* aside */
aside {
    grid-column: 1/2;


}

.aside-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(216, 206, 204);
    -webkit-text-fill-color: rgb(1, 6, 10);


}

aside h2 {

    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;

}

ul {

    height: 200px;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;



}

li {
    list-style: none;

    padding: 10px;
    border-radius: 5px;
}


/* main */
main {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

main p {
    line-height: 1.5;
    text-align: justify;
    margin-right: 10px;
}

aside,
main {

    border-right: 1px solid;
}

/* footer */
footer {
    grid-column: 1/4;
    text-align: center;
    background-color: rgba(240, 236, 15, 0.978);
    padding: 10px 0 5px 0;
}